.keyboard {
  width: 100%;
}

.keyboard > div {
  width: 100%;
  display: flex;
  align-content: stretch;
  flex-flow: row nowrap;
}

.keyboard > div > div {
  border: .1rem solid black;
  flex: 1;
  height: 4rem;
}

.keyboard > div > div.active {
  background: tomato;
}

.keyboard p {
  padding: .5rem;
  margin: 0;
}

