*, *::before, *::after {
  box-sizing: border-box;
}

.key-combination,
.result {
  width: 100%;
  height: 4rem;
  padding: .5rem;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

section > p {
  line-height: 3.5rem;
  font-size: 2rem;
  display: inline-block;
}

.key {
  min-width: 3.5rem;
  height: 3.4rem;
  padding: .3rem;
  border-radius: .5rem;
  box-shadow: 0 0 .2rem #ccc;
}

