:root {
  --key-width: 3.5rem;
}

html {
  font-family: caption, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  line-height: 3.5rem;
  font-size: 2rem;
}

.key-combination,
.result {
  width: 100%;
  height: calc(var(--key-width) + (var(--key-width) / 10 * 2));
  padding: .5rem;
  overflow: hidden;
  display: block;
}

.key,
.key-container {
  display: inline-block;
}

.key {
  height: var(--key-width);
  min-width: var(--key-width);
  padding: calc(var(--key-width) / 10);
  border-radius: calc(var(--key-width) / 10);
  box-shadow: 0 0 calc(var(--key-width) / 10) #ccc;
}

.key-container {
  padding: 0 calc(var(--key-width) / 10);
}

@media (min-width: 800px) {
  :root {
    --key-width: 5rem
  }
}

